<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="col-md-12"><h1>Ödev Dağıtım Platformu</h1></div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>


          <!-- Email input -->
          <div class="form-outline mb-4">
            <h4>E-Posta Adresi</h4>
            <input type="text" name="mail" #mail class="form-control form-control-lg"
              placeholder="Öğrenci numarasını giriniz...">
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <h4>Parola</h4>
            <input type="password" name="parola" #parola class="form-control form-control-lg"
              placeholder="Şifrenizi giriniz...">
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Beni Hatırla
              </label>
              


            </div>
            <button class="btn btn-link ml-5" [routerLink]="['/register']" >Kayıt Ol</button>
            <button class="btn btn-success mr-2 btn-lg" (click)="GirisYap(mail.value,parola.value)">Giriş Yap</button>
          </div>
        </form>
        <div [ngClass]="sonuc.islem ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc.mesaj?.length>0">{{sonuc.mesaj}}</div>
      </div>
    </div>
  </div>
</section>
